*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'ABeeZee', sans-serif;
}
/*html{font-size: 20px;}*/
p{ 
    font-size: 1.3rem;	
}
/***********navbar start*******************/
.btnlink{
 padding: 5px 15px 5px 15px!important;
 text-transform: uppercase;
 color: white!important;
 margin-right: 10px;
 font-size: 20px;
}
/*nav{background-image: linear-gradient(to right,rgba(255,255,255 ,1)30%,rgba(0,0,0,0));}*/
.navbar-brand{border-radius: 129px 0px 0px 127px;
		-moz-border-radius: 129px 0px 0px 127px;
		-webkit-border-radius: 129px 0px 0px 127px;
		 border: 0px solid #000000;
		 background-color: white;
}
nav.shrink{
	background-image: linear-gradient(150deg,rgba(255,255,255 ,1),rgba(63,81,181,1));
	padding: 5px;
	background-color: none;
	border-radius: none;
}

.btnlink:hover{
  border: 2px solid rgba(33,33,33 ,1);
  border-radius: 40px; 
  background-color: rgba(234,0,94 ,0.3);
   color: rgba(255,235,59 ,1)!important;
}
@media (max-width: 990px){
	.btnlink{font-size: 15px;}	
}

/*****************navbar end**************/
/*****************drive your transformation start**************/
.welcome{
	width: 100%;
	height:100vh;
	position:relative;
	
}
.welcome:before{
	content: "";
	position: absolute;
	top:0;bottom: 0;
	left:0;right: 0;
	/*background-image: linear-gradient(330deg,rgba(232,17,35 ,0.7),rgba(255,235,238 ,0.5)),url('../images/bg6.jpeg');*/
	background-size: 100% 100vh;background-repeat: no-repeat;
	/*background-image:  linear-gradient(300deg,rgba(121,85,72 ,0.5),rgba(255,209,128 ,0.5));*/
	/*background-image: linear-gradient(250deg,rgba(84,110,122 ,1),rgba(105,240,174 ,1));*/
	z-index: -1;
	/*clip-path: polygon(100% 0%,100% 75%,50% 100%,0% 75%,0 0);*/
}
.welcome h1{   
    /*padding-top: 200px;*/
    text-align: center;	
    /*background-image:linear-gradient(rgba(255,238,88 ,1) 80%,rgba(240,230,140 ,0.9) 20%);*/
    /*color:rgba(255,238,88 ,1);*/
    /*color: rgba(240,230,140 ,0.9);*/
    font-size: 2.4rem;

}
.button {
	font-size: 1.5rem;
}
.button:hover{
	color: black!important;
  border: 2px solid rgba(33,33,33 ,1);
  border-radius: 40px; 
  background-color: rgba(234,0,94 ,0.3);
  color: rgba(255,235,59 ,1)!important;
}
@media(max-width: 575px){
	.btn{margin-top: 20px;}
}
.header{
	width: 100%;
	height: inherit;
	text-align: center;
	position: relative;
}
@media(max-width: 320px){
	.btn{margin-top: 10px;}
	.welcome p{font-size:1.3rem;}
	.welcome h1{font-size: 2rem;}
}
 .carousel-inner img {
      width: 100%;
      height: 100vh;
}
.centerdiv{
  	padding: 500px 30px;
	width: 60%;
	height: auto;color:white ;text-align: center;
	position: absolute;
	top:60%;background-image: linear-gradient(to right,rgba(63,81,181,1),rgba(250,250,250 ,0));
	left:30%;z-index: 1;
	transform: translate(-60%,-60%);
	-ms-transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
}
@media (max-width: 1315px){
	.centerdiv{
  	padding: 1000px 100px;
	width: 80%;
	height: auto;color:white ;text-align: center;
	position: absolute;
	top:60%;background-image: linear-gradient(to right,rgba(63,81,181,1),rgba(250,250,250 ,0));
	left:35%;z-index: 1;
	transform: translate(-60%,-60%);
	-ms-transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
}
}
@media(max-width: 1180px){
	.centerdiv{width: 100%;left: 50%;}
}
@media(max-width: 768px){
	.centerdiv{padding:500px 0;top:50%;}
}

/*****************drive your transformation end**************/
/*****************we are here start**************/
.flextwo h2{
	color: black;
	padding: 0 30px;
	border: 2px solid rgba(252,228,236 ,1);
	border-radius: 170px 0px 170px 0px;
	/*background-color:rgba(252,228,236 ,1);*/
	background-image: linear-gradient(to left,rgba(63,81,181,0.3),rgba(250,250,250 ,0));
	text-align: center;
}
.section-two{
	width: 100%;
	height: auto;
	
}
.text-class{
	color: ;
	background-image: linear-gradient(to left,rgba(63,81,181,1),rgba(250,250,250 ,0));
}
.heading{ 
	width: 100%;
	display: flex;
	padding-top: 30px;
	padding-bottom: 30px;
	justify-content: space-between;
}
@media(max-width: 950px){
	.heading{display: block;}
	.flexthree{float: right;}
}
@media(max-width: 768px){
	.row{display: inline-flex;}
}
.content h1{   
    padding-top: 10px;	
}
/*****************we are here end**************/
.tabnav .nav-link.active
  	{
  		border-bottom:8px solid rgba(9, 71, 138, 0.98);
  		border-left: 5px solid rgba(9, 71, 138, 0.98);
  		border-right: 5px solid rgba(9, 71, 138, 0.98);
  		border-top: 2px solid rgba(9, 71, 138, 0.98);
  		border-radius: 50%;
  	}
  	.new-skill li
  	{
  		list-style: none;
  		margin-bottom: 10px;
  	}
  	.new-skill 
  	{
  		padding-inline-start: 0px;
  	}
  	.new-skill .fa
  	{
  		color: blue;
  		margin-right: 10px;
  	}
  	.section-three{
  		width: 100%;
  		height: auto;
  	}
  	.section-one{
  		background: linear-gradient(to top,rgba(63,81,181,1)0%,#fff 50%);
  	}
  	.extraimg:hover{
  		transform: translateY(-20px);
  	}
  	@media(max-width: 520px){
  		.skillnav{
  			display: block;
  		}
  	}
  	.new-skill{
  		background: linear-gradient(to left,rgba(63,81,181,1),#fff);
  	}
/*****************how it work end**************/
/*****************OUR PROGRAMS start**************/
.grid-container {
  padding-top: 1%;
  display: grid;
  grid-gap: 10px;
  background-color: none;
  border-radius:0px 30px 0px 30px;

}

.grid-item {
  background-color: rgba(255, 255, 255, 0.1);*/
  text-align: center;
  padding: 0px; //keep remember
  font-size: 30px;
  border: 1px solid powderblue;
  border-radius:0px 30px 0px 30px;
}

.item1 {
  grid-column: 1 / span 3;
  grid-row: 1;

}

.item2 {
  grid-column: 4;
  grid-row: 1 / span 2;
}

.item4 {
  grid-column: 2;
  grid-row: 2;
}
.item6 {
  grid-column: 1/ span 3;
  grid-row: 3; 
}
.item7 {
  grid-column:4;
  grid-row:3 /span 2;
}
.item8 {
  grid-column: 1/ span 3;
  grid-row: 4; 
}

.responsive
{
  height: 80%;
  width: 80%;
 margin-top: 15px;
}
.flip-card {
  background-color: transparent;
  width: 100%;
  height: 100px;
  perspective: 3000px;
    border: 2px solid powderblue;
  border-radius:0px 30px 0px 30px;
}
#programcardside .flip-card {
  background-color: transparent;
  width: 100%;
  height: 310px;
  perspective: 3000px;
    border: 2px solid powderblue;
  border-radius:0px 30px 0px 30px;
}
#programcardside2 .flip-card {
  background-color: transparent;
  width: 100%;
  height: 212px;
  perspective: 3000px;
    border: 2px solid powderblue;
  border-radius:0px 30px 0px 30px;
}
#programcard .flip-card {
  background-color: transparent;
  width: 100%;
  height: 200px;
  perspective: 3000px;
    border: 2px solid powderblue;
  border-radius:0px 30px 0px 30px;
}
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 1px 5px rgba(0,0,0.5);
  border-radius:0px 30px 0px 30px;
}
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
  border-radius: 30px 0px 30px 0px;
}
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border: 2px solid powderblue;
  border-radius:0px 30px 0px 30px;
}
.flip-card-front {
  background-color: #112D32;
}
.flip-card-front:before
{
  content: '';
  position: absolute;
  top: 0;
  left:0;
  width: 50%;
  height: 100%;
  background: rgba(240,240,240,0.1); 
}
.flip-card-back {
  background-color:linen;
  color: black;
  transform: rotateY(180deg);
}
.responsivedb
{
  height: 90%;
  width: 50%;
}
.responsivedev
{
  height: 90%;
  width: 30%;
}
@media only screen and (max-width: 610px) {
  .item1 { grid-area: 1 / span 4 / 1 / 4; }
  .item2 { grid-area: 2 / span 4 / 2 / 4; }
  .item3 { grid-area: 3 / span 4 / 3 / 4; }
  .item4 { grid-area: 4 / span 4 / 4 / 4; }
  .item5 { grid-area: 5 / span 4 / 5 / 4; }
  .item6 { grid-area: 6 / span 4 / 6 / 4; }
  .item7 { grid-area: 7 / span 4 / 7 / 4; }
  .item8 { grid-area: 8 / span 4 / 8 / 4; }
  .grid-item.item1
  {
  	height: 200px;
  }
  .grid-item.item1 .flip-card, .grid-item.item2, .grid-item.item2 #programcardside .flip-card,  
  .grid-item.item6,  .grid-item.item6, .grid-item.item6 .flip-card,  .grid-item.item7, 
  .grid-item.item7 .flip-card, .grid-item.item8, .grid-item.item8 .flip-card
  {
  	height: 200px;
  }
  .grid-item.item8
  {
  	margin-top: 4%;
  }
    .grid-item.item1 img, .grid-item.item2 img, .grid-item.item3 img
  {
  	margin-top: 30px;
  	width: 40%;
  	height: 65%;
  }
  
}
.flip-card-back h4 {
	font-size: 1rem;
}
.flip-card-back p {
	font-size: 1rem;
}
.progtext{
	background: linear-gradient(to right,rgba(63,81,181,1)10%,#fff 40%);
}
/*****************OUR PROGRAMS end**************/
